.navbar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
}

.nav-link {
  padding: 5px 10px !important;
}

.dropdown-menu {
  padding: 5px 0 !important;
  background-color: #000 !important;
  border-radius: 0 !important;
  margin-top: 20px !important;
}
.nav-item,.dropdown-item {
  font-size: 1rem !important;
}
.btn1 sup{
   font-size: 1rem !important;
   color: red;
   font-weight: bolder;
   border-radius: 100px;
   padding:0px 4px;
   border: 1px solid red;
}
.nav-item a:hover {
  color: #2196f3 !important;
  /* border-bottom: 2px solid #fff !important; */
}
.nav-item a:hover i{
  color: #2196f3 !important;
}
.dropdown-item:hover {
  color: #2196f3 !important;
  background-color: transparent !important;
}

.logo img {
  width: 80px !important;
  height: 60px !important;
}