

.admin-btn {
    color: red !important;
    text-decoration: none !important;
}
.admin-second-btn-delete {
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid red;
    background-color:transparent !important;
    cursor: pointer;
    color: red !important;
    padding: 5px !important;
}

.w-25 {
    width: 25% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}
.w-15 {
    width: 15% !important;
}
.w-10 {
    width: 10% !important;
}
@media(max-width:600px) {
    .admin-second-btn-delete {
        font-size: 0.7rem;
    }
}